* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5eaf8;
    display: flex;
    justify-content: center;
}

#whole_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.33);
    height: 80vh;
    width: 80%;
    margin: 70px;

}

#images {
    height: 100%;
    background-image: url(../images/img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

#image{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 8px;

}

h2 {
    font-size: xx-large;
    color: #097ff4;
}

#msg{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.introduction{
    width: 300px;
   
}

#intro{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}

#container {
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inbox {
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    width: 350px;
    padding-left: 10px;
    align-items: center;


}

#btns {
    gap: 20px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.btn {
    background-color: #097ff4;
    color: white;
    height: 30px;
    width: 350px;
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 999px;

}

#btns a {
    color: rgb(2, 77, 107);
    display: inline-block;
    font-size: 18px;
    font-weight: 100;


}