* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: rgb(31, 207, 207);
    border: 2px solid rgb(31, 207, 207);
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 450px;
    width: 300px;
}

.inbox {
    border: 1px solid black;
    border-radius: 3.5px;

}

#btn {

    height: 30px;
    width: 60px;
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 3.5px ;

}